.App {
  text-align: center;
}

.control-button button{
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  width: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.play-button {
  background: url("./resources/play.svg") no-repeat top left;

}

.pause-button{
  background: url("./resources/pause.svg") no-repeat top left;
}

.mute-button{
  background: url('./resources/mute.svg') no-repeat top left;
}

.unmute-button{
  background: url('./resources/unmute.svg') no-repeat top left;
}
