.App {
  text-align: center;
}

.control-button button {
  margin-top: 10px;
  background-size: contain;
  cursor: pointer;
  height: 30px;
  width: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.control-button input{
  -webkit-appearance: none;
  width: 10%;
  height: 7px;
  background: grey;
  outline: none;
  opacity: 0.7;
  /* opacity: 1; */
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/*start of dropdown */
.dropbtn {
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  width: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  background: url("./resources/setting.svg") no-repeat top left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  max-width: 200px;
  margin-left: 220px;

}

.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: auto;
  margin: 0;
  padding: 7px;
  cursor: pointer;
}

.dropdown-content ul:hover {
  background-color: grey;
}

.dropdown ul:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*end of drop down buttons */

/*
  Volume Slider Css start
*/
/* .volume-slider{
    -webkit-appearance: none;
    width: 15%;
    height: 7px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} */

.volume-slider:hover {
    opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    opacity: 1;
    cursor: pointer;
    border: 2px solid red;
}

.volume-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    opacity:1;
}

/* volume slider css end*/

/*
  Progress Bar slider started
*/
.progress-slider{
  -webkit-appearance: none;
  width: 29.2%;
  height: 4px;
  background: red;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.progress-slider:hover {
    opacity: 1;
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* width: 18px;
    height: 18px; */
    border-radius: 50%;
    background: red;
    cursor: pointer;
    border: 1px solid red;
}

.progress-slider::-moz-range-thumb {
    /* width: 18px;
    height: 18px; */
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

/*
  Progress Bar slider ended
*/

/* buttons */
.play-button {
  background: url("./resources/play.svg") no-repeat top left;
}

.pause-button {
  background: url("./resources/pause.svg") no-repeat top left;
}

.mute-button {
  background: url("./resources/mute.svg") no-repeat top left;
}

.unmute-button {
  background: url("./resources/unmute.svg") no-repeat top left;
}
.low-vol-button{
  background: url("./resources/lowVolume.svg") no-repeat top left;
}
.setting-button {
  background: url("./resources/setting.svg") no-repeat top left;
}
.maximize-button{
  background: url("./resources/maximize.svg") no-repeat top left;
}
.pip-button{
  background: url("./resources/pip.svg") no-repeat top left;
}
